crypto
public/javascripts/lib
public/test/lib
public/stylesheets/style.css
index.json
dir_path

*~
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

bower_components
node_modules
bower_lib.*

.svn
*db_bkup*
svn-commit.tmp

